.NavBar{
  margin: 20px 0 0 0;
  display:block ; 
  /* background-color:yellow; */
  height:100px;
  justify-items: center;
  align-items: center;
}
.Link {
  margin-left:20px;
  display:inline-block;
  justify-self: center;
  font-size:20px;
}
.ProfilePic {
  border-radius: 100%;
  margin-left:20px;
  display:inline-block;
  justify-self: center;
  height:100px;
  width:auto;
}
.TopLinks{
  text-align:center;
  justify-items: center;
  width:50%;
  margin:0 auto 0 auto;
}

.WorkPic {
  height:100px;
  padding:10px;
  width:auto;
}
.WorkHeader {
  height:auto;
  padding:10px;
  width:auto;
}
.WorkRow{
  height:auto;
  /* background-color:greenyellow; */
}
.WorkDesc{
  text-align:left;
  justify-items: left;
  margin-left: 120px;
}

.EducationPic {
  border-radius: 100%;
  height:100px;
  width:auto;
}
.EducationRow{
  height:150px;
  /* background-color:greenyellow; */
}
.EducationDesc{
  text-align:left;
  justify-items: left;
  margin-left: 120px;
}

.ProjectPic {
  height:100px;
  width:auto;
}
.ProjectHeader{
  height:100px;
}
.ProjectRow{
  height:auto;
  /* background-color:greenyellow; */
}
.ProjectDesc{
  text-align:left;
  justify-items: left;
  margin-left: 120px; 
}

hr { 
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: inset;
    border-width: 1px;
}

.Blockquote {
  background: lightcyan ;
  border-left: 10px solid #ccc;
  margin: 1.5em 10px;
  padding: 0.5em 10px;
}